<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container">
    <br>
    <h2>Lista de Categorias</h2>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>TÍTULO</th>
                <th>SLUG</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Doutrinas Bíblicas</td>
                <td>doutrinas-biblicas</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<%- include ('../../partials/footer.ejs') %>